<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <br><br>
<h3>Create a new Listing:</h3>
<form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label" style="margin-bottom: 0rem;">Title</label>
        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
        <div class="valid-feedback">Tittle looks good!</div>
    </div>
         
    <div class="mb-3">
        <label for="description" class="form-label" style="margin-bottom: 0rem;">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea>
        <div class="invalid-feedback">Description should be required</div>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label" style="margin-bottom: 0rem;">Upload Listing Image</label>
        <input name="listing[image]" class="form-control" type="file">
        required
    </div>
    
    <div class="row">

    <div class="mb-3 col-md-4">
        <label for="price" class="form-label" style="margin-bottom: 0rem;">Price</label>
        <input name="listing[price]" placeholder="1200" class="form-control" required>
        <div class="invalid-feedback">Price should be required</div>
    </div>
    
    <div class="mb-3 col-md-8">
        <label for="location" class="form-label" style="margin-bottom: 0rem;">Location</label>
        <input type="text" name="listing[location]" placeholder="jaipur, Rajasthan" class="form-control" required>
        <div class="invalid-feedback">Location should be required</div>
    </div>

    </div> 

    <div class="mb-3">
        <label for="country" class="form-label" style="margin-bottom: 0rem;">Country</label>
        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
        <div class="invalid-feedback">Country should be required</div>
    </div>
    
    <button class="btn btn-dark add-btn mt-3">Add</button>
</form>
</div>
</div>

